.grid {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(5, 80px);
  gap: 2px;
  margin-bottom: 20px;
}

.cell {
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell.robot {
  background-color: #ffcc00; /* Color for the cell with the robot */
}

.navigation-icon {
  font-size: xx-large;
}
